.detail h1,
.detail h2,
.detail h3 {
  color: #615f5f;
}

.detail p {
  color: #615f5f;
  line-height: 1.6;
}

.detail {
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
}
.detail header {
  margin-bottom: 50px;
}
.detail .title {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #023047;
  margin-bottom: 10px;
  padding: 20px 0;
  line-height: 1.5;
}

.detail .date {
  color: #666;
}

.detail .content {
  color: #615f5f;
  line-height: 1.6;
}

.detail hr {
  border: none;
  height: 2px;
  background-color: rgba(2, 48, 71, 0.3);
  margin: 20px 0 50px 0;
}
