.container {
  position: relative;
  padding-top: 120px;
  margin: 0px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1050px;
  justify-content: center;
  padding-bottom: 100px;
}
.section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8em;
  margin-bottom: 30px;
  color: #292929;
}
.section-title::after {
  content: '';
  width: inherit;
  height: 1px;
  background: #292929;
  margin-top: 8px;
  display: block;
}

.main {
  margin-top: 70px;
  width: 100%;
  height: 560px;
  background-color: #292929;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/static/img/main.jpg);
}
.info {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  width: 1050px;
  height: 100%;
}
.info .title {
  opacity: 0.7;
  margin-bottom: 15px;
  color: #ffffff;
  letter-spacing: 1;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 30px;
}
.sticky-wrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
.header {
  height: 73px;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left,
.right {
  display: flex;
  align-items: center;
}
.navigation .left {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
}
.navigation .right {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  margin-right: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.page-404,
.page-404 h1,
.page-404 p,
.page-404 a {
  display: flex;
  justify-content: center;
}
.page-404 {
  width: 80%;
  flex-direction: column;
  padding: 20px;
}
.page-404 h1 {
  text-align: center;
  font-size: 100px;
  margin: 0;
  color: #333;
}
.page-404 p {
  color: #333;
  font-weight: bold;
}
.detail-image {
  width: 100%;
  height: 470px;
  background-color: #292929;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1400px) {
  .container, .info {
    width: 1000px;
  }
}
@media screen and (max-width: 1200px) {
  .container, .info {
    width: 900px;
  }
}
@media screen and (max-width: 990px) {
  .container, .info {
    width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .container, .info {
    width: 700px;
  }
  .main {
    height: 300px;
    background-image: url(/static/img/main.jpg);
  }

  .detail-image {
    height: 200px;
  }
  .header,
  .navigation,
  .left,
  .right {
    padding: 10px;
  }
  .navigation .left {
    margin-left: 0;
  }
  .navigation .right {
    margin-right: 0;
  }

  .left,
  .right {
    justify-content: space-between;
  }

  .page {
    padding-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 400px;
  }
}
