/* 게시물 카드 스타일 */
.post {
  margin-bottom: 20px;
  background-color: #fff; /* 배경 색상 */
  padding: 20px; /* 내부 여백 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: 10px; /* 둥근 모서리 */
  transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  cursor: pointer; /* 포인터 커서 */
}

.post:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강조 */
}

/* 제목 스타일 */
.title {
  font-size: 1.5em; /* 글자 크기 */
  margin-bottom: 0.5em; /* 제목과 요약 사이의 여백 */
  color: #023047;
}

/* 요약 텍스트 스타일 */
.summary {
  color: #666; /* 글자 색상 */
  margin-bottom: 1em; /* 요약과 태그 사이의 여백 */
}

/* 태그 스타일 */
label {
  background-color: #f2f2f2; /* 배경 색상 */
  padding: 5px 10px; /* 내부 여백 */
  margin-right: 10px; /* 태그 사이의 여백 */
  border-radius: 20px; /* 둥근 모서리 */
}

mark {
  background-color: transparent; /* 배경색 제거 */
  color: #fb8500; /* 글자 색상 */
  font-weight: bold; /* 굵은 글꼴 */
}

/* 날짜 스타일 */
.date {
  font-size: 0.8em; /* 글자 크기 */
  color: #999; /* 글자 색상 */
}
