.post {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
}

.post:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #023047;
}

.summary {
  color: #666;
  margin-bottom: 1em;
}

.tag {
  margin-bottom: 10px;
}

.tag mark {
  background-color: transparent;
  color: #4ab0f1;
  font-weight: 400;
  font-size: 14px;
}

.date {
  font-size: 0.8em;
  color: #999;
}
